.socialImage{
    height: 25px;
    width: 25px;;
}
.btn-primary{
    background-color: rgb(198, 153, 68) !important;
    border: 1px solid rgb(141, 102, 29) !important;
}
.btn-primary:hover{
    background-color: rgb(168, 127, 50) !important;
}

body{
    font-family: Candara;
    background-color: #F5F5F5 !important;
}
.card-header{
    background-color: rgb(198, 153, 68) !important;
    color: white;;
    font-weight: bold;
    font-family: Candara;
}
label , th{
    font-weight: bold;

}
.pagination .page-item.active .page-link {
    background: rgb(198, 153, 68) !important;;
    border-color: rgb(198, 153, 68) !important;;
    color: #fff;
}
.card-body{
    width: 100%;
    overflow-y: auto;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: center !important;
    margin-left: 15% !important;
}

@media only screen and (max-width: 767px) {
    div.dataTables_wrapper div.dataTables_filter {
        text-align: center !important;
        margin-top: 10px    ;
        margin-left: -20% !important;
    }
  }

.fa{
    font-size: 24px;
}
#toast-container{
    margin-top: 60px !important;
}